<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--text 不会解析标签  传什么就展示什么-->
<!--<p th:text="${name}" >name</p>-->
<!--&lt;!&ndash;utext 会解析标签&ndash;&gt;-->
<!--<p th:utext="${name}" >name</p>-->

<!--<p th:text="${restaurant.boss}" >restaurant boss</p>-->
<!--<p th:text="${restaurant.chef}" >restaurant chef</p>-->

<div th:object="${restaurant}">
    <p>boss: <span th:text="*{boss}">boss</span>.</p>
    <p>chef: <span th:text="${restaurant.chef}">chef</span>.</p>
</div>

<a href="/welcome" th:href="@{/welcome}">welcome</a>

<p th:text="#{something}"> message</p>

<div th:insert="footer :: copy"></div>
<div th:replace="footer :: copy"></div>
<div th:include="footer :: copy"></div>

<!--<footer th:fragment="copy"> &copy; 2019</footer>-->

<!--<div><footer> &copy; 2019</footer></div>-->
<!--<footer> &copy; 2019</footer>-->
<!--<div> &copy; 2019</div>-->

</body>
</html>