<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guest List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<h1>嘉宾列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="guest : ${guests}">
            <!--scope="row"-->
            <td th:text="${guest.name}">name</td>
            <td th:text="${guest.role}">role</td>
            <td><a th:href="@{/guest/toEdit(name=${guest.name})}">edit</a></td>
            <td><a th:href="@{/guest/delete(name=${guest.name})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/guest/toAdd" th:href="@{/guest/toAdd}" class="btn btn-info">add</a>
    </div>
</div>

</body>
</html>