<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>嘉宾列表</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
</head>
<body class="container">

<h2>中餐厅嘉宾如下</h2>
<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>名字</th>
            <th>角色</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="guest:${guestList}">
            <td th:text="${guest.name}">name</td>
            <td th:text="${guest.role}">role</td>
            <td class="col-sm-2">
                <a th:href="@{/guest/toUpdate/}+${guest.name}">编辑</a>
            </td>
            <td class="col-sm-2">
                <!--<a th:href="@{/guest/delete(name=${guest.name})}" >删除</a>-->
                <button th:attr="del_url=@{/guest/}+${guest.name}" name="del_button">删除</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/guest/toAdd" th:href="@{/guest/toAdd}"
           class="btn btn-info">添加</a>
    </div>
</div>

<!--删除按钮借助的表单-->
<form method="post" id="del_form">
    <input type="hidden" name="_method" value="delete">
</form>

<script>
    $(function () {
        $("button[name='del_button']").click(function () {
            $("#del_form").prop("action",$(this).attr("del_url")).submit();
        });
    });
</script>

</body>
</html>