<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restful Guest List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<h1>中餐厅第三季嘉宾列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="guest : ${guests}">
            <!--scope="row"-->
            <td th:text="${guest.name}">name</td>
            <td th:text="${guest.role}">role</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>